/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-19, 0:47:32
    Author     : qingyangsheng
*/
.qys-cd3{
    color:#ddd;
}
.qys-c93{
    color:#999;
}
.qys-c33{
    color:#333 !important;
}
.qys-c66{
    color:#010407 !important;
}
.qys-fs12{
    font-size: 12px;
}
.qys-breadcrumb{
    margin-top: 0px;
    margin-bottom: 1em;
}